<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVC的简单使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73573821D6E9B5C0008FE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E735739B1D6E9B5C0008FE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73573A61D6E9B5C0008FE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
