<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>线程间通讯.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E74953811D6FF47D00773446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E749539A1D6FF47D00773446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E74953A51D6FF47D00773446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
